# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# AppCode
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/*.iml
.idea/inspectionProfiles/*.xml
.idea/misc.xml
.idea/usage.statistics.xml

Pods/Cuckoo/Generator/.build

# fastlane
fastlane/README.md
fastlane/report.xml
fastlane/test_output
fastlane/swiftlint.html
fastlane/tests/

# fastlane on Jenkins
output/

default.profraw
